@import "tailwindcss";

@theme {
  /* Fonts */
  --font-sans: "Hanken Grotesk", sans-serif;
  --font-cormorant: "Cormorant Garamond", serif;

  /* Colors */
  --color-primary: #3a332b;
  --color-secondary: #70665b;
  --color-special: #c56f52;
  --color-cream: #e1dacf;

  /* Nested shades (like agrey) */
  --color-agrey-50: #ffffff;
  --color-agrey-900: #000000;
}

/* === Cormorant Garamond === */
@font-face {
  font-family: "Cormorant Garamond";
  src: url("./assets/fonts/CormorantGaramond-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Cormorant Garamond";
  src: url("./assets/fonts/CormorantGaramond-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Cormorant Garamond";
  src: url("./assets/fonts/CormorantGaramond-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Cormorant Garamond";
  src: url("./assets/fonts/CormorantGaramond-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Cormorant Garamond";
  src: url("./assets/fonts/CormorantGaramond-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* === Hanken Grotesk === */
@font-face {
  font-family: "Hanken Grotesk";
  src: url("./assets/fonts/HankenGrotesk-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Hanken Grotesk";
  src: url("./assets/fonts/HankenGrotesk-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Hanken Grotesk";
  src: url("./assets/fonts/HankenGrotesk-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Hanken Grotesk";
  src: url("./assets/fonts/HankenGrotesk-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Hanken Grotesk";
  src: url("./assets/fonts/HankenGrotesk-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Hanken Grotesk";
  src: url("./assets/fonts/HankenGrotesk-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Hanken Grotesk";
  src: url("./assets/fonts/HankenGrotesk-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

html {
  height: 100vh;
  color-scheme: light;
  forced-color-adjust: none;
}

body {
  height: 100%;
  background: #e1dacf;
  color: #70665b;
  font-family: "Hanken Grotesk", sans-serif;
}